<ion-header class="ion-no-border">

    <ion-toolbar id="navbar">
        <ion-menu-button id="home-menu-container">
            <ion-icon id="menu-icon" name="menu-outline"></ion-icon>
            <ion-icon id="navbar-icon" src="assets/home18.svg"></ion-icon>
            <h2 id="navbar-text">Resumen</h2>
        </ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content class='has-header has-subheader'>


    <ion-row>
        <!-- Move back one screen of the slides -->
        <ion-col size="2">
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col size="8" class="ion-text-center">
            <h2>{{ viewTitle }}</h2>
        </ion-col>

        <!-- Move forward one screen of the slides -->
        <ion-col size="2">
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>


    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onTitleChanged)="onViewTitleChanged($event)">
    </calendar>
</ion-content>