@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#navbar {
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
    text-align: center;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #464040;
    margin-bottom: 2px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: var(--ion-color-dark);
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
    border-color:var(--ion-color-medium-shade);
    border-style: solid;
    background-color: #FEFAFE;
}

#square {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-width: 1px;
    border-color: var(--ion-color-dark);
    border-style: solid;
    background-color: var(--ion-color-primary-contrast);
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 4px;
}

h1,
h2,
h3 {
    font-family: 'Outfit', sans-serif;
}

#email-icon {
    font-size: 1.5em;
}

#password-icon {
    font-size: 1.5em;
}

.label {
    font-size: 1.5em;
    margin-left: 40px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 0px;
}

input {
    border-right: none !important;
    border-left: none !important;
    margin-left: 10px;
    height: 2.2em;
    margin-top: 5px;
    width: 230px;
}

#password-fields {
    // margin-top: 5%;
}

#forgot-password-text {
    color: var(--ion-color-tertiary);
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

#login-button {
    width: 40%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-family: 'Outfit', sans-serif;
    background-color: var(--ion-color-light);
    box-shadow: 0 0 1px black;
    border-radius: 4px;
    // margin-bottom: 5%;
}

#are-you-not-registered-text {
    text-align: center;
}

#register-text {
    text-align: center;
    color: var(--ion-color-tertiary);
    margin: 0;
}

#register-text:hover {
    font-weight: bold;
    text-decoration: underline;
}

#separation {
    margin-top: 5%;
    background-color: black;
    margin-bottom: 8%;
}

#login-google-button {
    background: white !important;
    color: white;
    height: 50px;
}